cohere
langchain
pandas
lark
cython
tiktoken
fastapi
python-multipart
uvicorn
pyowm
python-dotenv
termcolor
gunicorn
schedule
qdrant-client
apscheduler
nltk
cachetools
jsonpatch
pymongo
pytest
pytest-asyncio
motor
metagpt @ git+https://github.com/geekan/MetaGPT@main
openai>=1.6.0